@model Cart

<h1>Cart</h1>


<table>
  <tr>
    <th></th>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
  </tr>
@foreach (var cartItem in Model.GetAllItems())
{
  <tr>
    <td>@Html.ActionLink("Показати деталі", "Index", "Product", new {id = @cartItem.ProductId}, new { @class = "btn btn-light" })</td>
    <td>@cartItem.ProductId</td>
    <td>@cartItem.ProductName</td>
    <td>@cartItem.Price</td>
    <td>@cartItem.Quantity</td>
    <td>@Html.ActionLink("Видалити", "RemoveFromCart", "Cart", new {id = @cartItem.ProductId}, new { @class = "btn btn-danger" })</td>
  </tr>
}
</table>

 @Html.ActionLink("Додати", "Index", "Products", null, new { @class = "btn btn-success" })
 @Html.ActionLink("Замовити", "NewOrder", "Order", null, new { @class = "btn btn-warning" })