@model List<Product>

<h1>Усі продукти:</h1>
<table>
  <tr>
    <th></th>
    <th>Код товару</th>
    <th>Назва</th>
    <th>Ціна за одиницю</th>
    <th></th>
  </tr>
@foreach (var product in Model)
{
  <tr>
    <td>@Html.ActionLink("Показати деталі", "Index", "Product", new {id = @product.ID}, new { @class = "btn btn-light" })</td>
    <td>@product.ID</td>
    <td>@product.Name</td>
    <td>@product.Price</td>
    <td>@Html.ActionLink("Замовити", "AddToCart", "Cart",
                         new {id = @product.ID, productName = @product.Name, price = @product.Price},
                         new { @class = "btn btn-primary" })</td>
  </tr>
}
</table>

 @Html.ActionLink("+ Додати", "AddProduct", "Products", null, new { @class = "btn btn-success" })